# Copy this file to .env and fill in your values

# Get a free key at: https://openrouteservice.org/dev/#/signup
ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6ImQyODI5M2ZmZDMyMDQ3NmM4NGNlM2Y0MDhiOTM3Njk4IiwiaCI6Im11cm11cjY0In0=

DJANGO_SECRET_KEY=replace-with-a-long-random-string
DEBUG=True